<%- include ("./partials/header") %>
<div>
    <div class="container">
    <h1><%=campground.name%></h1>
    </div>
    <div class="container">
        <img src="<%= campground.image %>">
        <p><%= campground.description %></p>

    </div>
    <p class="right text-right">
    <a href="/campgrounds" class="btn btn-primary">Go back ⏎ </a>
    </p>
</div>

<%- include ("./partials/footer") %>