<%- include('./partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %> </div>
        <<form class="ui form" action="/blogs/ <%=blog._id=%>?_method=PUT" method="POST">
            <div class="ui big form container">
                <div class="field">
                    <div class="field">
                      <label>Title</label>
                      <input value="<% blog.title%>" type="text" name="blog[title]" required>
                    </div>
                </div>
                <div class="field">
                    <div class="field">
                      <label>Image</label>
                      <input value="<%blog.image%>" type="url" name="blog[image]" required>
                    </div>
                </div>
                <div class="field">
                    <label>Body</label>
                    <textarea required name="blog[body]"><%= blog.body%></textarea>
                </div>
                <button class="ui violet basic button">Submit New Blog Post!</button>
            </form>
    </div>
</div>
<%- include('./partials/footer') %>