<%- include('./partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header"><h1><%= blog.title %></h1></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="<%= blog.title %>"/>
            <div class="content">
                <span><%= blog.create.toDateString() %></span>
            </div>
            <div>
                <p><%- blog.body %></p>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>